* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
}

#main-container {
    width: 100%;
    height: 100vh;
}

#page1 {
    height: 100%;
    width: 100%;
    background: #303841;

}

#page2 {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 133px 10px;
    /* margin-top: 100px; */
    background-color: #F5F5F5;
}

#nav {
    color: #fff;
    height: 90px;
    width: 100%;
    border-bottom: 2px solid #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

}

#nav > h1 > span {
    letter-spacing: 1.1px;
    font-size: 35px;
    color: green;
    padding: 5px 0px;
    font-weight: 600;
}

#nav > h1 {
    letter-spacing: 1.1px;
    font-size: 35px;
    padding: 5px 0px;
    font-weight: 600;
}


#nav-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-part a {
    /* display: none; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding: 3px 11px;
    font-size: 21px;
    text-align: center;
    text-decoration-line: none;
    letter-spacing: 1.2px;
    font-weight: 600;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container > .left {
    width: 50%;
    height: 100%;
    color: #fff;
    margin-top: 120px;
    padding: 60px 30px
}

.left h3:nth-last-child(1) {
    margin-left: 30px;
}



.girl-pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(246, 241, 241, 0.4);
    margin-left: -30px;
    /* Maintain the aspect ratio and cover the entire container */
}

.container > .right {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.container > .left > h3 {
    font-size: 60px;
    text-transform: uppercase;
    /* padding: 20px 30px; */

}

.container > .right > img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
    padding: 100px 30px;
}

/* sigup button code */
.animated-button {
    margin-top: 20px;
    position: relative;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.animated-button::before,
.animated-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #2930b4;
    transition: width 0.3s;
}

.animated-button::before {
    top: 0;
    left: 0;
}

.animated-button::after {
    bottom: 0;
    right: 0;
}

.animated-button:hover::before,
.animated-button:hover::after {
    width: 100%;
}

/* modern butoon */
.modern-button {
    padding: 12px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.modern-button:hover {
    background-color: #2980b9;
}

.modern-button:active {
    transform: scale(0.95);
}

.modern-button:focus {
    outline: none;
}


.box {
    border-radius: 5px solid #000;
    background-color: #ECF9FF;
    color: #888;
    padding: 10px 20px;
    margin-left: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 18rem;
}

.box > p {
    padding: 8px 0px;
    /* height: 120px; */
}

.box > h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

#middle-page {
    position: absolute;
    top: 190%;
    left: 4%;
    width: 90%;
    height: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 40px; */
    z-index: 9999;
    background-color: #F5F5F5;

}

#middle-page img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #333;
}

#middle-page .card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 11px;
}

#middle-page .card p {
    font-size: 19px;
    padding: 5px 20px;
    text-align: center;
    color: #555;
}

#middle-page .card h1 {
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
    color: #888;
    text-transform: capitalize;

}

#page3 {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #3F2E3E;
    /* margin-top: 100px; */
    border-radius: 10px;
}

#page3 .Featured {
    text-align: center;
    padding: 350px 0 0 0;
    /* margin-top: 81px; */
    font-size: 25px;
    letter-spacing: 1.2px;
    font-family: fantasy;
    font-weight: 400;
    color: #cccc;
}

#page3 > p {
    font-size: 18px;
    padding: 12px 30px;
    margin-left: 60px;
    color: #ccc;
}

.pre-footer {
    padding: 50px 0 0 0;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #fafafa;
    border-radius: 10px;
    /* background-image: url('https: //i.pinimg.com/564x/48/d8/e1/48d8e18a2c8a344a91ba95cf6f51f1bd.jpg'); */
}

.pre-footer img {
    width: 100%;
    height: 80%;
    object-fit: fill;
    opacity: 0.5;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 10px;
}

.pre-footer .center {
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 30%;
    /* z-index: 999; */
    top: 25%;
    padding: 10px 20px;
    font-size: 21px;
    gap: 10px;
    text-transform: capitalize;
}

.pre-footer .center h1 {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#footer {
    width: 100%;
    background-color: #2980b9;
    height: 70%;
    position: relative;
    color: #fff;
}

#footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
=======mobile nav bar icon for code=========
*/
.mobile-navbar-btn {
    display: none;
    position: absolute;
    top: 18px;
    right: 25px;
    cursor: pointer;
    background: transparent;
}

.mobile-nav-icon {
    width: 3rem;
    height: 3rem;
    color: #212529;
}

.mobile-nav-icon[name='close'] {
    display: none;
}

/* =============*/
/* Responsive code for mobile*/
/* =============*/

/* Media query for mobile devices with a maximum width of 768px */
@media only screen and (max-width: 768px) {
    .mobile-navbar-btn {
        display: block;
    }

    #nav {
        width: 100%;
        position: relative;
    }

    #nav > #nav-part {
        /* display: none; */
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #dadada;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        /* to get the translate */
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    #nav .active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    #nav > .modern-button {
        /* margin-right: 5rem; */
        display: none;
    }
}

/*=========
 page2*
 ======*/
/* Media query for mobile devices with a maximum width of 768px */
/* @media only screen and (max-width: 768px) {
    #page2 {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        padding: 27rem 0;
    }
} */


/* @media only screen and (max-width: 400px) {
    #page2 {
        display: grid;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: 3, 1fr;
        grid-auto-rows: auto;
        padding: 3rem 0;
    }

    #page2 .box {
        border-radius: 5px solid #000;
        background-color: #ECF9FF;
        color: #888;
        padding: 10px 15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 18rem;
    }

    #nav > h1 {
        letter-spacing: 1.1px;
        font-size: 38px;
        padding: 4px 31px;
        font-weight: 600;
    }


    #middle-page {
        display: none;
    }

    #page3 {
        position: relative;
        height: 100vh;
        width: 100%;
        background-color: #3F2E3E;
    }

    #page3 .Featured {
        text-align: center;
        padding: 40px 0 0 0;
        margin-top: 81px;
        font-size: 20px;
        letter-spacing: 1.2px;
        font-family: fantasy;
        font-weight: 400;
        color: #cccc;
    }
} */